body{
    margin: 0;
    padding: 0px 3px 0px 3px;
    background: url('noaa-JG_HfydoNqY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

